<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.WEARABLE_DATA_LAYER"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_SETUP" />
    <uses-feature android:name="android.software.companion_device_setup"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickBoxFront"
        android:networkSecurityConfig="@xml/network_sec">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".WebSocketForegroundService"
            android:foregroundServiceType="dataSync"/>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn_Handler"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SignUp_Handler"
            android:screenOrientation="portrait"/>
        <activity android:name=".MapSignUp_Handler"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Home_Handler"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_SENDER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile_Handler"
            android:screenOrientation="portrait"/>
        <activity android:name=".Language_Handler"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateDel_Handler"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="barcode_ui"
                android:screenOrientation="portrait"/>
        </activity>
        <activity android:name=".History_Handler"
            android:screenOrientation="portrait"/>
        <activity android:name=".Delivery_Handler"
            android:screenOrientation="portrait"/>
        <activity android:name=".Map_Handler"
            android:screenOrientation="portrait"/>

    </application>

</manifest>